
@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/Fonts/Inter-Regular1.otf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Helvetica;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}

@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/Fonts/Gilroy-Medium.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Gilroy-Medium;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}

@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/Fonts/Gilroy-Medium.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Gilroy;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}

.blocks1{
    display: none;
}

.blocks{
   
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2d2d2d;
width: 100%;
justify-content: space-between;
display: flex;
/* background-color: aquamarine; */
margin-top: 60px;
}

.block1{
    
    padding: 15px;
    margin-right: 1%;
    border-radius: 15px;
    width: 285px;
    min-width: 240px;
    height: 190px;
    background-color:rgb(255, 252, 233);
    border: 2px solid rgb(236, 239, 75);
}

.block2{
    padding: 15px;
    margin: 0% 1%;
    border-radius: 15px;
    width: 285px;
    min-width: 240px;
    height: 190px;
    background-color:rgb(255, 252, 233);
    border: 2px solid rgb(239, 184, 75);
}

.block3{
    padding: 15px;
    margin: 0% 1%;
    border-radius: 15px;
    width: 285px;
    min-width: 240px;
    height: 190px;
    background-color:rgb(255, 252, 233);
    border: 2px solid rgb(138, 239, 75);
}

.block4{
    padding: 15px;
    margin-left: 1%;
    border-radius: 15px;
    width: 285px;
    min-width: 240px;
    height: 190px;
    background-color:rgb(255, 252, 233);
    border: 2px solid rgb(122, 219, 219);
}

.block12{
  
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 5px;
    padding-top: 20px;
}

.block102{
    background: url(./100.png);
  background-size: cover;
  width: 60px;
  height: 60px;
  margin-top: -45px;
  
}
.block103{
  
  background: url(./200.png);
  background-size: cover;
  width: 60px;
  height: 60px;
  margin-top: -45px;

}
.block104{
    background: url(./300.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-top: -45px;
  
}
.block105{
  
    background: url(./400.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-top: -45px;
  
}

.fon{

    width: 100%;
    /* background: url(../Str1/dom22222.jpg);
    background-size:cover; */
    background-color: white;


}






.b2 {
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
/* background: url(./100.png); */
background-size: cover;
}

.b20 {
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
/* background: url(./200.png); */
background-size: cover;
}

.b21 {
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
/* background: url(./300.png); */
background-size: cover;
}

.b211 {

    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
/* background: url(./400.png); */
background-size: cover;
}

.b22{
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
}

.b3{
  display: flex;
 /* background-color: antiquewhite; */
  align-items: flex-start;
  color: #2d2d2d;
  padding: 15px;

  font-family: Helvetica;
  line-height: 150%;
}



 
/* Главный1 */
.A1{
    background-color: rgb(242, 255, 253);
    padding-bottom: 60px;
    width: 100%; /* Full width */
    background-color: white;
}

/* Главный2 */
.A{
    margin: 0% 19%;

    background-color: rgb(247, 255, 253);
    background-color: white;
}

/* Главный3 */
.a{
 width:100%;
 display: flex;
 flex-direction: column;
     /* padding: 36px 0px 40px 0px;
     color: rgb(221, 221, 221);
     font-family: Helvetica;
     font-size: 14px; */
  padding-top: 80px;
  /* width:100%; */
  padding-bottom: 0px;
  color: #222;
  /* color: rgb(29, 29, 29); */
  /* background-color: rgb(247, 255, 253); */
}

/* Главный текст*/
.Textt{
     width:100%;

}
/* Главный текст*/
.Text{
    width: 85%;
    font-weight: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* width:100%;  */
    margin-right: 3px;
    /* justify-content: flex-start; */
    font-family: Gilroy-Medium;
    /* background-color: blue;  */
    line-height: 100%;
    font-size: 53px;
    padding-bottom: 10px;
    }

    /* Главный текст green*/
    .Text1{
        line-height: 80%;
        padding: 0px 5px;
        margin-top: 5px;
        padding-bottom: 10px;
        margin-right: 12px;
        background-color: rgb(90, 229, 92);
        }

        /* Главный текст */
    .Text2{
        padding-bottom: 10px;
        margin-right: 12px;

        }

       


        @media screen and (max-width: 1895px) {
      
.block1{
    
    padding: 15px;
    margin-right: 1%;
    border-radius: 15px;
    width: 285px;
    min-width: 200px;
    
    height: 190px;
    background-color:rgb(255, 252, 233);
    border: 2px solid rgb(236, 239, 75);
}

.block2{
    padding: 15px;
    margin: 0% 1%;
    border-radius: 15px;
    width: 285px;
    min-width: 200px;
    height: 190px;
    background-color:rgb(255, 252, 233);
    border: 2px solid rgb(239, 184, 75);
}

.block3{
    padding: 15px;
    margin: 0% 1%;
    border-radius: 15px;
    width: 285px;
    min-width: 200px;
    height: 190px;
    background-color:rgb(255, 252, 233);
    border: 2px solid rgb(138, 239, 75);
}

.block4{
    padding: 15px;
    margin-left: 1%;
    border-radius: 15px;
    width: 285px;
    min-width: 200px;
    height: 190px;
    background-color:rgb(255, 252, 233);
    border: 2px solid rgb(122, 219, 219);
}}

@media screen and (max-width: 1780px) {
  
    /* Главный2 */
.A{
margin: 0% 9%;
}
}

@media screen and (max-width: 1600px) {


/* Главный2 */
.A{
margin: 0% 10%;
}
}
@media screen and (max-width: 1595px) {
}

@media screen and (max-width: 1280px) {
  
/* Главный1 */
.A1{
/* background-color: aquamarine; */
}

/* Главный2 */
.A{
margin: 0% 1.6%;
}

/* Главный3 */
.a{
width: 100%;
/* height: 76px; */

/* background-color: aquamarine; */
}
}

@media screen and (max-width: 1100px) {
   .Text{
    width: 100%;
   }
}

@media screen and (max-width: 1130px) {
.block102, .block103, .block104, .block105{
    width: 30px;
    height: 30px;
   margin: 0;
}
  .Text{
    margin-bottom: 60px;
  }
  .blocks1{
    display: inline;
    font-family: Helvetica;
    color: #222;
}

.block12{
    padding-bottom: 10px;
}
    .blocks{
       
 display: none; 
    }
    
    .blockK1{
       
        height: 100px;
        background-color:rgb(255, 252, 233);
        border: 2px solid rgb(236, 239, 75);
        padding: 15px;
        border-radius: 15px;
        margin-bottom: 25px;

    }
    .blockK2{
  
        height: 100px;
        background-color:rgb(255, 252, 233);
        border: 2px solid rgb(239, 184, 75);
        padding: 15px;
        border-radius: 15px;
        margin-bottom: 25px;
 
       
    }
    
    .blockK3{
        height: 100px;
        background-color:rgb(255, 252, 233);
        border: 2px solid rgb(138, 239, 75);
        padding: 15px;
        border-radius: 15px;
        margin-bottom: 25px;
    }
    
    .blockK4{
        height: 100px;
        background-color:rgb(255, 252, 233);
        border: 2px solid rgb(122, 219, 219);
        padding: 15px;
        border-radius: 15px;
        margin-bottom: 25px;
    }
    
    .block4{
        padding: 15px;
        margin: 0;
        border-radius: 15px;
      
        background-color:rgb(255, 252, 233);
        border: 2px solid rgb(122, 219, 219);
    }
    .block102K{
        
    }
}

@media screen and (max-width: 935px) {
    .block102, .block103, .block104, .block105{
        width: 30px;
        height: 30px;
       margin-top: -30px;
    }

}

@media screen and (max-width: 734px) {
  /* Главный текст*/
.Text{
    width:100%;

}  
}

@media screen and (max-width: 572px) {
.a{
padding-top: 50px;
}

.blockK1, .blockK2, .blockK3, .blockK4{
    height: 70px;
}

.block102, .block103, .block104, .block105{
   
}
.blocks1{
  font-size: 14px;
    font-family: Helvetica;
}

.block12{
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 10px;
}

   

/* Главный текст*/
.Textt{
    width:100%;
margin-bottom: 0;
}
/* Главный текст*/
.Text{
   width: 100%;
   font-weight: 1000;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   /* width:100%;  */
   margin-right: 5px;
   /* justify-content: flex-start; */
   font-family: Gilroy-Medium;
   /* background-color: blue; */
   /* line-height: 100%; */
   font-size: 24px;
   padding-bottom: 10px;
   margin-bottom: 23px;
   }

   /* Главный текст green*/
   .Text1{
       line-height: 45%;
       padding: 0px 4px;
       margin-top: 2px;
       padding-top:4px;
       padding-bottom: 8px;
       margin-right: 5px;
       background-color: rgb(90, 229, 92);
       }

       /* Главный текст */
   .Text2{
       padding-bottom: 6px;
       margin-right: 4px;

       }

       .b2 {
        width: 40px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        margin-left: 15px;
    /* background: url(./100.png); */
    background-size: cover;
    }

    .b20 {
        width: 40px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        margin-left: 15px;
    /* background: url(./200.png); */
    background-size: cover;
    }

    .b21 {
        width: 40px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        margin-left: 15px;
    /* background: url(./300.png); */
    background-size: cover;
    }

    .b211 {

        width: 40px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        margin-left: 15px;
    /* background: url(./400.png); */
    background-size: cover;
    }

    .b3 {
        padding-top: 5px;
    }
}

@media screen and (max-width: 450px) {
}