.modal2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  /* opacity: 0; */
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 18999;
}

.modalwrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  z-index: 18999;
}

.modalcontent2 {
  position: relative;
  margin: 20px;
  width: 100%;
  max-width: 353px;
  min-width: 300px;
  height: 100%;
  /* max-height: 390px;
  min-height: 350px; */
  border-radius: 20px;
  background-color:#ffffff;
  padding: 0px 3.7% 0px 3.7%;
  /* transform: translateY(-50px); */
  transition: opacity 0.3s, transform 0.3s;
  z-index: 18999;
}

.modalclosebutton2 {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
}

/* open */

.modal2--entering,
.modal2--entered {
  opacity: 1;
}

.modal2--entering .modal-content,
.modal2--entered .modal-content {
  transform: translateY(0);
}

/* close */

.modal2--exiting,
.modal2--exited {
  opacity: 0;
}

.modal2--exiting .modal-content,
.modal2--exited .modal-content {
  transform: translateY(-50px);
}


@media screen and (max-width: 383px) {

  .modalcontent3 {
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 353px;
    min-width: 315px;
    
    /* max-height: 390px;
    min-height: 350px; */
    border-radius: 20px;
    background-color:#ffffff;
    padding: 100px 3.7% 5px 3.7%;
    /* transform: translateY(-50px); */
    transition: opacity 0.3s, transform 0.3s;
    z-index: 15999;
  }
  

}