
@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/Fonts/Inter-Regular1.otf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Helvetica;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}

@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/Fonts/Gilroy-Bold.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Gilroy-Bold;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}

@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/Fonts/Gilroy-Medium.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Gilroy;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}


.fon{
    width: 100%;
    background: url(../Str1/dom22222.jpg);
    background-size: cover;
}




/* Главный1 */
.A1{
    background-color: rgb(242, 255, 253);
    width: 100%; /* Full width */
}

/* Главный2 */
.A{
    margin: 0% 19%;
    background-color: rgb(247, 255, 253);

}

/* Главный3 */
.a{
    width: 100%;
    display: flex;
     /* padding: 36px 0px 40px 0px;
     color: rgb(221, 221, 221);
     font-family: Helvetica;
     font-size: 14px; */
     margin-top: 0px;
     background-color: rgb(247, 255, 253);
}
.div1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    padding-top: 60px;
    /* background-color: blue; */
}

.divright{
display: flex;
background: url(./1000.jpg);
background-size: cover;
height: 400px;
}




.divrighttt{
    width: 64%;
    width: 780px;
    max-width: 780px;
    min-width: 600px;
    height: 370px;
    min-height: 300px;
    border-radius: 5px;
    margin-left: 30px;
    /* background-color: rgb(255, 127, 240); */
}

.divleft{width: 55%;
    margin-top: 25px;
    color: rgb(29, 29, 29);
    color: #222;
}

.divleft1{
    min-width: 535px;
    display: flex;
    flex-direction: column;
    font-family: Gilroy-Medium;
    /* background-color: blue;   */
    line-height: 100%;
    font-size: 53px;
    font-weight: 1000;
    padding-bottom: 10px;
   /* background-color: aquamarine; */
}

.divleft0{
    display: none;
   /* background-color: aquamarine; */
}

.divleft11{
  
   
    color: rgb(29, 29, 29);
    color: #222;
    background-color: rgb(90, 229, 92);
    font-family: Gilroy-Medium;
    /* background-color: blue;  */
    line-height: 100%;
    font-size: 53px;
    font-weight: 1000;
    padding: 0px 5px;
    padding-bottom: 1px;
    margin: 5px 0;
    margin-right: 0px;
    margin-top: 2px;
    /* margin-bottom: 32px; */
}

.divleft111{
    font-family: Helvetica;
    font-size: 18px;
    line-height: 26px;
    font-weight: 100;
    color: rgb(49, 48, 48);
    display: flex;
    width: 450px;
    /* background-color: blueviolet; */
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 17px;
}

.divleft6{
    display: flex;
    justify-content: center;
    width: 230px;
    padding: 17px 20px;
    align-items: center;
    color: white;
background-color: rgb(150, 43, 217);
margin-top: 20px;
font-family: Gilroy;
font-size: 18px;
font-weight: 500;
border-radius: 5px;
}

.divleft112{
     /* width: 50%; */
}

.divleft113{
    /* width: 50%; */
}

.divleft22{
display: flex;
}






@media screen and (max-width: 1780px) {

    /* Главный2 */
.A{
margin: 0% 9%;
}
}

@media screen and (max-width: 1600px) {

     /* Главный2 */
.A{
margin: 0% 10%;
}
}


@media screen and (max-width: 1280px) {

/* Главный1 */
.A1{
/* background-color: aquamarine; */
}

/* Главный2 */
.A{
margin: 0% 1.6%;
}

/* Главный3 */
.a{
width: 100%;
/* height: 76px; */

/* background-color: aquamarine; */
}
}

@media screen and (max-width: 1170px) {

    .divleft{
        margin-right: 0px;
        color: rgb(29, 29, 29);
    }
}

    @media screen and (max-width: 1200px) {
        .divleft11{
            display: inline-flex;
            flex-wrap: nowrap;
        }

        .divleft1{
            display: inline;
           justify-content: space-between;
            /* flex-wrap: wrap; */
            /* align-items: flex-start;
            justify-content: flex-start; */
            font-family: Gilroy-Medium;
            /* background-color: blue;   */
            line-height: 100%;
            font-size: 53px;
            font-weight: 1000;
            padding-bottom: 10px;
           /* background-color: aquamarine; */
        }
         .divleft{
            /* background-color: blue; */
        }

        .divleft11{
            margin-right: 12px;
            /* background-color: blue; */
        }
        
    .div1{

        flex-direction: column;
    }

    .divrighttt{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        max-width: 650px;
        min-width: 500px;
        height: 400px;
     /* width: 100%; */
        margin: 0;
        margin-right: 0%;
    }
    
    .divright{
     
    }

    .divleft111{
        display: flex;
        /* justify-content: flex-start; */
        max-width: 590px;
        /* background-color: blueviolet; */
    }

    .divleft{
     width: auto;
    }

    .divleft6{
        margin-bottom: 30px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 667px) {
    .divrighttt{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        min-width: 400px;
        margin: 0;
        padding: 0;
    }

    .divright{
     width: 465px;
        height: 290px;
        }
        }

    @media screen and (max-width: 572px) {

        .divrighttt{
            min-width: 300px;
        }
    
        .divright{
         width: 358px;
         min-width: 300px;
            height: 220px;
            } 

               /* Главный3 */
.a{
    width: 100%;
    display: flex;
    margin-top: 40px;
}
.fon{
    padding-top: 35px;
}
  

    /* Главный3 */
.a{
    width: 100%;
    display: flex;
}

.div1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.divleft{
    width: 100%;
    margin-right: 0px;
    color: rgb(29, 29, 29);
}

.divleft111{
    font-family: Helvetica;
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    color: #222;
    display: flex;
    /* width: 85%; */
    justify-content: space-between;
 /* flex-direction: column; */
     margin-right: 0px;
}

.divleft6{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 17px 20px;
    align-items: center;
    color: white;
background-color: rgb(150, 43, 217);
margin-top: 15px;
font-family: Gilroy;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
}

.divleft112{
   width: 100%;
   margin-top: -16px;
    /* background-color: blue; */
}

.divleft22{
display: flex;
}

/* Главный текст*/
.Textt{
    width:100%;
    margin-bottom: 0;
}
/* Главный текст*/
.Text{
   width: 100%;
   font-weight: 1000;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   margin-right: 5px;
   font-family: Gilroy-Medium;
   font-size: 24px;
   padding-bottom: 0px;
   margin-bottom: 0x;
   }

   /* Главный текст green*/
   .Text1{
       line-height: 45%;
       padding: 0px 4px;
       margin-top: 2px;
       padding-top:7px;
       padding-bottom: 8px;
       margin-right: 5px;
       margin-bottom: 2px;
       background-color: rgb(90, 229, 92);
       }

       /* Главный текст */
   .Text2{
       padding-bottom: 6px;
       margin-right: 4px;
       margin-top: -2px;
       }

.divleft0{
    display: inline;
    /* background-color: aquamarine; */
}

.divleft{
    display: none;
}
}

@media screen and (max-width: 462px) {
    .divleft111{
        width: 100%;
    }

    .div1{
        padding-top: 0;
    }
}

          @media screen and (max-width: 370px) {

       
    }

    @media screen and (max-width: 366px) {

            .divrighttt{
                min-width: 250px; 
    } 
    
      .divright{ 
            width: 300px;
            height: 180px; 
            }

  }