/* Главный3 */
.a4{
    width: 100%;
    /* height: 76px; */

    /* background-color: aquamarine; */
    }

.a{
    margin-top:44px;
    font-size: 36px;
    margin-bottom: 26px;
    color: #222;
    font-family: Gilroy-Medium;
    font-weight: 100;
    width: 100%;
}

.b{
    /* background-color: aquamarine; */
    /* width: 270px; */
    min-width: 220px;
    align-items: center;
    margin-bottom: 18px;
    color: #222;
    font-family: Gilroy-Bold;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.4;
}

.b12{
    /* background-color: aquamarine; */
    /* width: 270px; */
    min-width: 170px;
    align-items: center;
    margin-bottom: 18px;
    color: #222;
    font-family: Gilroy-Bold;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.4;
}

.b1{
    width: 100%;
    display: flex;
    align-items: center;
}

.b2{
    width: 100%;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 16px;
}

.grid{
    margin-bottom: 10px;
    /* background-color: aquamarine; */
    display: grid;
    grid-column-gap:0px;
    grid-template-columns: 1fr 1fr 1fr;
    /* height: 240px; */
}

.li{
 display: block;
 margin-bottom: 7px;
}

.liI{
    display: block;
    margin-bottom: 7px;
   }

.spanli{
    color: #009839;
    font-size: 16px;
}

.spanli1{
    color: #eabc50;
    font-size: 16px;
}

.spangoogleAn{
    margin-right: 3px;
  padding-left: 23px;
  background-position: 0;
  background-repeat: no-repeat;
  background-image: url(https://static.iu.ru/version_1/img/device/android.svg);
}

.spangoogleIo{
  margin-right: 3px;
  padding-left: 23px;
  background-position: 0;
  background-repeat: no-repeat;
  background-image: url(https://static.iu.ru/version_1/img/device/ios.svg);
}

.spangrid2{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 100;
}

.spangoogleG{
    padding-right: 5px;
    width: calc(100% / 2);
    margin-bottom: 12px;
    padding-left: 22px;
    font-weight: 600;
    background-position: 0 1px;
    background-repeat: no-repeat;
    background-image: url(https://static.iu.ru/version_1/img/browsers/chrome.svg);
}

.spangoogleE{
    padding-right: 5px;
    width: calc(100% / 2);
    margin-bottom: 12px;
    padding-left: 23px;
    font-weight: 600;
    background-position: 0 1px;
    background-repeat: no-repeat;
    background-image: url(https://static.iu.ru/version_1/img/browsers/safari.svg);
    background-image: url(https://static.iu.ru/version_1/img/browsers/edge.svg);
}

.spangoogleS{
    padding-right: 5px;
    width: calc(100% / 2);
    margin-bottom: 12px;
    margin-left: 28px;
    padding-left: 22px;
    font-weight: 600;
    background-position: 0 1px;
    background-repeat: no-repeat;
    background-image: url(https://static.iu.ru/version_1/img/browsers/safari.svg);
}

.spangoogleF{
    margin-left: 23px;
    padding-right: 5px;
    width: calc(100% / 2);
    margin-bottom: 12px;
    padding-left: 22px;
    font-weight: 600;
    background-position: 0 1px;
    background-repeat: no-repeat;
    background-image: url(https://static.iu.ru/version_1/img/browsers/firefox.svg);
}

.lib{
    font-size: 16px;
    display: block;
    margin-bottom: 0px;
    line-height: 140%;
    
    padding-left: 12px;
    width: 350px;
    /* background-color: #e32b31; */
   }

.li1{
  display: inline-block;
  margin-top: 9px;
  font-weight: 600;
  font-size: 14px;
  color: #51c0e2;
  font-family: Inter-Regular;
  border-bottom: 1px solid #51c0e2;
  cursor: pointer;
}

.librauser{
    display: inline-block;
    font-size: 16px;
    font-family: Inter-Medium;
    font-weight: 100;
    line-height: 120%;
    color: #919191;
    max-width: 280px;
    margin-top: 9px;
  }

.grid1, .grid2, .grid22, .grid3{
  margin-bottom: 7px;
  font-family: Gilroy-Medium;
  font-weight: 700;
  font-size: 18px;
  /* background-color: antiquewhite; */
}

.grid22{
    border-left: 3px solid #e32b31;   
}

.spangrid3{
   font-size: 16px;
}

.spangrid33{
    font-size: 16px;
    
 }
 

.obs{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 23px 0px;
    background-color: rgb(247, 253, 255);
    background: url(./backgr.jpg) right bottom 1px no-repeat;
    background-size:cover;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 60px;
}

.div1{
  padding: 0px 20px;
  margin-bottom: 11px;
  font-family: Gilroy-Medium;
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;
  color: #222;
  text-align: center;
}

.div2{
    font-family:Helvetica;
    font-size: 16px;
    line-height: 1.4;
    color: #222;
    margin-bottom: 19px;
    text-align: center;
    padding: 0px 20px;
}

.div3{
    background-color: #006c3c;
    background-color: rgb(13, 130, 66);
    color: #fff;
    display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 24px 16px;
  font-family: Helvetica;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.div3:hover{
       transition: 0.5s;
       background-color: rgb(11, 112, 57);
       }

@media screen and (max-width: 1780px) {

    /* Главный2 */
.A4{
margin: 0% 9%;
}
}

@media screen and (max-width: 1600px) {

     /* Главный2 */
.A4{
margin: 0% 10%;
}
}


@media screen and (max-width: 1280px) {

/* Главный1 */
.A14{
/* background-color: aquamarine; */
}

/* Главный2 */
.A4{
margin: 0% 1.6%;
}

/* Главный3 */
.a4{
width: 100%;
/* height: 76px; */

/* background-color: aquamarine; */
}
}

@media screen and (max-width: 1200px) {

    .spangrid33{
        font-size: 16px;
        padding-right: 65px;
     }

    .liI{
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
        margin-top: 9px;
        max-width: 435px;
        min-width: 300px;
        text-align: left;
       }

    .grid{
        margin-bottom: 10px;
        /* background-color: aquamarine; */
        display: grid;
        grid-column-gap:0px;
        grid-template-columns: 1fr 1fr ;
        /* height: 240px; */
    }

    .grid2{
        /* background-color: #009839; */
        border:none;
    }

    .grid22{
        /* background-color: #009839; */
        border-left: 3px solid #e32b31;
    }

    .lib{
        font-size: 16px;
        display: block;
        margin-bottom: 0px;
        line-height: 140%;
        /* border-left: 3px solid #e32b31; */
        border: none;
        padding-left: 12px;
        width: auto;
        /* background-color: #e32b31; */
       }

       .librauser{
        display: inline-block;
        font-size: 16px;
        font-family: Inter-Medium;
        font-weight: 100;
        line-height: 100%;
        color: #919191;
        max-width:max-content; 
      }

      .spangoogleS{
        padding-right: 5px;
        width: calc(100% / 2);
        margin-bottom: 12px;
        margin-left: 0px;
        padding-left: 22px;
        font-weight: 600;
        background-position: 0 1px;
        background-repeat: no-repeat;
        background-image: url(https://static.iu.ru/version_1/img/browsers/safari.svg);
    }
    
    .spangoogleF{
        margin-left: 23px;
        padding-right: 5px;
        width: calc(100% / 2);
        margin-bottom: 12px;
        padding-left: 21px;
        font-weight: 600;
        background-position: 0 1px;
        background-repeat: no-repeat;
        background-image: url(https://static.iu.ru/version_1/img/browsers/firefox.svg);
    }

}

@media screen and (max-width: 570px) {
.grid3, .grid2{
    padding-top: 12px;
}
}

@media screen and (max-width: 663px) {
    .grid{
        margin-bottom: 10px;
        /* background-color: aquamarine; */
        display: grid;
        grid-column-gap:0px;
        grid-template-columns: 1fr  ;
        /* height: 240px; */
    }
    
}

@media screen and (max-width: 570px) {

    .grid2{
/*        
        background-color: #51c0e2; */
    }
    .librauser{
        margin-top: -20px;
        padding: 0;
      }

    .spangrid3, .librauser, .spangrid2, .lib, .div2{
        font-size: 14px;
    }

    .spangrid33{
       height: 30px;
       padding-right: 58px;
        font-size: 14px;
        align-items: center;

    }

    .liI{
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
        margin-top: 10px;
        max-width: 435px;
        min-width: 300px;
        text-align: left;
       }

       .obs{
        margin-bottom: 85px;
        margin-top: 60px;
       }
}