.span:hover{
font-weight: 900;
}

.d00 {
    padding: 5px 30px 0px 30px;
    font-size: 16px;
    font-weight: 100;
    color: #222;
}

.dstr {
    width: 20px;
    padding-top: 0px;
    height: 20px;
    background: url(./50.png);
    background-size: cover;
    margin-top: 0px;
    border:none;
    margin: 2px 5px 0px 20px;
}

.dstr2 {
    width: 20px;
    padding-top: 0px;
    height: 20px;
    background: url(./50\(2\).png);
    background-size: cover;
    margin-top: 0px;
    border:none;
    margin: 2px 5px 0px 20px;
}

.d123 {
    width: 100%;
    max-width: 800px;
    font-size: 16px;
    line-height: 1.4;
    color: #222;
    border-radius: 10px;
    
    background-color: rgb(244, 254, 255);
    cursor: pointer;
    margin: 5px 0px;
    display: flex;
    /* justify-content: flex-end; */
    font-family: Helvetica;
}

.d1,
.d2,
.d3,
.d4,
.d5,
.d6,
.d7 {
    height: auto;
    width: 100%;
    max-width: 800px;
    font-size: 18px;
    line-height: 1.4;
    color: #222;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(1, 53, 176, 0.1);
    background-color: rgb(244, 254, 255);
    cursor: pointer;
    margin: 5px 0px;
    display: flex;
    align-items: start;
    font-family: Helvetica;
    justify-content: start;
    padding: 20px 0px 22px 0px;
    font-weight: 500;
}

.d1:hover,
.d2:hover,
.d3:hover,
.d4:hover,
.d5:hover,
.d6:hover,
.d7:hover {
    font-weight: 900;
}

.a22 {
    display: none;
}

.fon {
    width: 100%;
    background: url(./dom22222.jpg);
    background-size: cover;
}

/* Главный1 */
.A1 {
    background-color: rgb(242, 255, 253);
    padding-bottom: 60px;
    width: 100%;
    /* Full width */
    background-color: white;
}

/* Главный2 */
.A {
    margin: 0% 19%;
    padding-top: 80px;
    background-color: rgb(247, 255, 253);
    background-color: white;
}

/* Главный3 */
.a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 19px;

    padding-bottom: 0px;
    color: #222;
}

/* Главный текст*/
.Textt {
    width: 100%;
}

/* Главный текст*/
.Text {
    width: 100%;
    font-weight: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width:100%;  */
    margin-right: 3px;
    /* justify-content: flex-start; */
    font-family: Gilroy-Medium;
    /* background-color: blue;  */
    line-height: 100%;
    font-size: 53px;
    padding-bottom: 0px;
    padding-top: 5px;
    
}

/* Главный текст green*/
.Text1 {
    line-height: 80%;
    padding: 0px 5px;
    margin-top: 5px;
    padding-bottom: 10px;
    margin-right: 12px;
    background-color: rgb(90, 229, 92);
}

/* Главный текст */
.Text2 {
    padding-bottom: 5px;
    margin-right: 12px;
}

.i {
    color: rgb(13, 130, 66);
    font-family: Gilroy-Bold;
}


@media screen and (max-width: 1830px) {}


@media screen and (max-width: 1780px) {


    /* Главный2 */
    .A {
        margin: 0% 9%;
    }
}


@media screen and (max-width: 1600px) {


    /* Главный2 */
    .A {
        margin: 0% 10%;
    }
}

@media screen and (max-width: 1550px) {}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1280px) {


    /* Главный1 */
    .A1 {
        /* background-color: aquamarine; */
    }

    /* Главный2 */
    .A {
        margin: 0% 1.6%;
    }

    /* Главный3 */
    .a {
        width: 100%;
        /* height: 76px; */

        /* background-color: aquamarine; */
    }
}

@media screen and (max-width: 1210px) {



    .fon {
        background: fixed;
        height: auto;
    }


    /* Главный1 */
    .A1 {

      

    }


}

@media screen and (max-width: 1100px) {
    .Text {
        width: 100%;
    }
}

@media screen and (max-width: 1130px) {}


@media screen and (max-width: 950px) {}

@media screen and (max-width: 734px) {

    /* Главный текст*/
    .Text {
        width: 100%;

    }
}

@media screen and (max-width: 572px) {

    .span{
font-size: 14px;
padding-top: 2px;
    }

    .span:hover {
       font-weight: 400;
    } 

    .d00 {
        padding: 5px 0px 0px 15px;
        font-size: 14px;
        font-weight: 100;
        color: #222;
        line-height: 140%;
    }

    .d1,
    .d2,
    .d3,
    .d4,
    .d5,
    .d6,
    .d7 {
        height: auto;
        width: 100%;
        max-width: 800px;
        font-size: 14px;
        line-height: 1.4;
        color: #222;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(1, 53, 176, 0.1);
        background-color: rgb(244, 254, 255);
        cursor: pointer;
        margin: 5px 0px;
        display: flex;
        align-items: start;
        font-family: Helvetica;
        justify-content: start;
        padding: 10px 0px;
        font-weight: 500;
    
    }

  

    .a {
        padding-top: 0px;
    }

 
    /* Главный текст*/
    .Textt {
        width: 100%;
        margin-bottom: 0;
    }

    /* Главный текст*/
    .Text {
        width: 100%;
        font-weight: 1000;
        margin-right: 5px;
        font-family: Gilroy-Medium;
        font-size: 24px;
        padding-top: 0px;
        padding-bottom: 10px;
        
    }

    /* Главный текст green*/
    .Text1 {
        line-height: 45%;
        padding: 0px 4px;
        margin-top: 2px;
        padding-top: 7px;
        padding-bottom: 8px;
        margin-right: 5px;
        background-color: rgb(90, 229, 92);
    }

    /* Главный текст */
    .Text2 {
        margin-top: 3px;
        padding-bottom: 3px;
        margin-right: 4px;
    }

    /* Главный1 */
    .A {
        padding-top: 33px;
       

    }
}

@media screen and (max-width: 450px) {}