.modal3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vm;
  height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  /* opacity: 0; */
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 15999;
}

.modalwrapper3 {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  z-index: 15999;
}

.modalcontent3 {
  position: relative;
  margin: 20px;
  width: 100%;
  max-width: 353px;
  min-width: 315px;
  height: auto;
  /* max-height: 390px;
  min-height: 350px; */
  border-radius: 20px;
  background-color:#ffffff;
  padding: 40px 3.7% 45px 3.7%;
  /* transform: translateY(-50px); */
  transition: opacity 0.3s, transform 0.3s;
  z-index: 15999;
}

.modalclosebutton3 {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 15999;
}

/* open */

.modal3--entering,
.modal3--entered {
  opacity: 1;
}

.modal3--entering .modal-content,
.modal3--entered .modal-content {
  transform: translateY(0);
}

/* close */

.modal3--exiting,
.modal3--exited {
  opacity: 0;
}

.modal3--exiting .modal-content,
.modal3--exited .modal-content {
  transform: translateY(-50px);
}
