
.modal8 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;  
  transition: opacity 0.3s;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* 
.modal:target {
  display: block;
} */

.modal8::-webkit-scrollbar {
  display: none;
}

.modal8{
-ms-overflow-style: none;  /* IE и Edge */
scrollbar-width: none;  /* Firefox */
}

.modal-wrapper8 {
 position: fixed; 
 height: 74%;
 width: 100%;
 display: flex;
 justify-content: flex-end;
 margin-right: 10%;
 align-items: flex-start;
 top: 76px; 
 right: 8px;
 z-index: 988; 
}

.nnn8{
  position:relative;
  height: 100%;  
  height: 100%;
  max-height:320px;
  /* display: flex;
  align-items: end; */
  margin-bottom: 0px; 
  margin-top: 0px;  
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  overflow:scroll;
  transform: translateY(0px); 
  box-shadow: 0px 0px 17px 0px #909090;
  z-index: 13333;
  /* background-color: white;} */
}

  .nnn8::-webkit-scrollbar {
    display: none;
  }

  .nnn8{
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
  }

.modal-content8 {

/* height: auto; */
}

 .modal-close-button8 {
  border: 0px;
  position: fixed;
  bottom: 49px;
  right: 23px;
  width: 35px;
  height: 27px;
  /* padding: 10px; */
  background-color: rgb(52, 29, 29, 0);
  z-index: 12222;
  display: none;

}

/* open */

.modal8--entering,
.modal8--entered {
  opacity: 1;
}

.modal8--entering .modal-content8,
.modal8--entered .modal-content8 {
  transform: translateY(0px);

}

/* close */

.modal--exiting,
.modal--exited {
  opacity: 1;
}

.modal--exiting .modal-content,
.modal--exited .modal-content {

  /* transform: translateY(-350px); */
   /* transform: translateX(0px);

  transform: translateY(0px);  */
}

@media screen and (max-width: 1780px) {
.modal-wrapper8 {
  position: fixed; 
  margin-right: 0px;
  height: 74%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  top: 76px; 
  right: 8px;
  z-index: 988; 
 }}